*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    
    width: 100%;
    text-align: center;
    justify-content: center;
}
.test{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.btn{
    text-decoration:none;
    color:black;
    width: 100px;
}
.topic{
    width: 250px;
    height: 100px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

